.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.site-nav {
    display: flex;
}

.site-nav .item {
    padding-top: 32px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color var(--tran-dur-and-tim-fun);
}

.contacts-nav {
    display: flex;
}

.contacts-nav .item:not(:last-child) {
    margin-right: 50px;
}

.contacts-nav .link {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--tran-dur-and-tim-fun);
}

.contacts-nav .icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts-nav .smartphone {
    width: 10px;
    height: 16px;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link.current::after {
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;

    background-color: var(--accent-color);
}